<h1><%= @the_username %></h1>
<dl>
  <dt>Private</dt>
    <dd>
      <%= @matching_user.private %>
    </dd>

  <dt>Followers</dt>
    <dd>
      <%= FollowRequest.where({ :recipient_id => @matching_user.id, :status => "accepted" }).count %>
    <dd>

<% if @matching_user == current_user %>
  <dt>Pending follow requests</dt>
    <ul>
      <% @list_of_pending_requests = FollowRequest.where({ :recipient_id => @matching_user.id, :status => "pending" }) %>
      <% @list_of_pending_requests.each do |a_pending_request| %>

        <li>
          <%= a_pending_request.sender.username %>

          <form action="/modify_follow_request/<%= a_pending_request.sender.id %>" method="post">
            <input type="hidden" name="query_status" value="accepted">
            <button>
              Accepted
            </button>
          </form>

          <form action="/modify_follow_request/<%= a_pending_request.sender.id %>" method="post">
            <input type="hidden" name="query_status" value="rejected">
            <button>
              Reject
            </button>
          </form>
        
          <% end %>
        </li>

    </ul>
  <% else %>
  <% end %>

  <dt>Following</dt>
    <dd>
      <%= FollowRequest.where({ :sender_id => @matching_user.id, :status => "accepted" }).count %>
    </dd>
</dl>

<ul>
  <li>
    <a href="/users/<%= @matching_user.username %>/liked_photos">Liked photos</a>
  </li>

</ul>

Feed
Discover

<h1>Liked photos (<%= @list_of_likes.count %>)</h1>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>
  
  <% @list_of_likes.each do |a_like| %>
  <tr>
    <td>
      <img src="<%= a_like.photo_liked.image %>">
    </td>

    <td>
      <%= a_like.photo_liked.created_by.username %>
    </td>

    <td>
      <%= a_like.photo_liked.caption %>
    </td>

    <td>
      <%= distance_of_time_in_words(Time.now, an_liked_photo.created_at) %> ago
    </td>

    <td>
      <%= a_like.photo_liked.likes.count %>
    </td>

    <td>
      Show details
    </td>
  <% end %>

  </tr>
