<h1><%= @the_username %></h1>
<dl>
  <dt>Private</dt>
    <dd>
      <%= @matching_user.private %>
    </dd>

  <dt>Followers</dt>
    <dd>
      <%= FollowRequest.where({ :recipient_id => @matching_user.id, :status => "accepted" }).count %>
    <dd>

  <% if @matching_user != current_user %>
    <% if current_user.follow_requests.exists?(recipient_id: @matching_user.id) %>
            <% follow_request = current_user.follow_requests.where({ :recipient_id => @matching_user.id }).at(0) %>
            <% if follow_request.status == "accepted" %>
              <a href="/delete_follow_request/<%= follow_request.id %>">Unfollow</a>
            <% elsif follow_request.status == "pending" %>
              Request sent. <a href="/delete_follow_request/<%= follow_request.id %>">Cancel</a>
            <% end %>
    <% else %>
      <form action="/insert_follow_request" method="post">
        <input type="hidden" name="query_recipient_id" value="<%= @matching_user.id %>">
        <input type="hidden" name="query_sender_id" value="<%= current_user.id %>">
        <input type="hidden" name="query_status" value="pending">
        <button>
          Follow
        </button>
      </form>
    <% end %>
  <% else %>
  <% end %>

  <% if @matching_user == current_user %>
  <dt>Pending follow requests</dt>
    <ul>
      <% @list_of_pending_requests = FollowRequest.where({ :recipient_id => @matching_user.id, :status => "pending" }) %>
      <% @list_of_pending_requests.each do |a_pending_request| %>

        <li>
          <%= a_pending_request.sender.username %>

          <form action="/modify_follow_request/<%= a_pending_request.sender.id %>" method="post">
            <input type="hidden" name="query_status" value="accepted">
            <button>
              Accepted
            </button>
          </form>

          <form action="/modify_follow_request/<%= a_pending_request.sender.id %>" method="post">
            <input type="hidden" name="query_status" value="rejected">
            <button>
              Reject
            </button>
          </form>
          <% end %>
        </li>
    </ul>
  <% else %>
  <% end %>

  <dt>Following</dt>
    <dd>
      <%= FollowRequest.where({ :sender_id => @matching_user.id, :status => "accepted" }).count %>
    </dd>
</dl>

<ul>
  <li>
    <a href="/users/<%= @matching_user.username %>/liked_photos">Liked photos</a>
  </li>

  <li>
    <a href="/users/<%= @matching_user.username %>/feed">Feed</a>
  </li>
</ul>

Discover

<h1>Own photos (<%= Photo.where({ :owner_id => @matching_user.id}).count %>)</h1>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>
  
  <% @list_of_own_photos.each do |an_own_photo| %>
  <tr>
    <td>
      <img src="<%= an_own_photo.image %>">
    </td>

    <td>
      <%= an_own_photo.created_by %>
    </td>

    <td>
      <%= an_own_photo.caption %>
    </td>

    <td>
      <%= distance_of_time_in_words(Time.now, an_own_photo.created_at) %> ago
    </td>

    <td>
      <%= Like.where({ :photo_id => an_own_photo.id }).count %>
    </td>

    <td>
      <a href="/photos/<%= an_own_photo.id %>">Show details</a>
    </td>
  </tr>
  <% end %>



</table>
